<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Oops!</title>
	</head>
	<body>
		<h1>Oops!</h1>
		<h3>{{title}}</h3>
		<p>
			{{error}}
		</p>
	</body>
</html>