<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>TodoList</title>
</head>

<body>
	<center>
		<h1>Todo List</h1>
		<form action="/todos" method="POST">
			<input type="text" name="text">
			<input type="submit" value="Submit">
		</form>
	</center>

	<br>
	<hr>

	<h2>My list:</h2>
	<ul>
		{{#each todos}}
			<li>
				<a href="/todos/{{_id}}">{{text}}</a>
			</li>
		{{/each}}
	</ul>
</body>

</html>