<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Todo</title>
	</head>
	<body>
		<center>
			<h1>
				{{todo.date_of_creation}}
			</h1>
			<h2>
				{{todo.text}}
			</h2>
			<h3>
				{{todo.status}}
			</h3>
			<h4>
				{{todo._id}}
			</h4>
		</center>
	</body>
</html>